@use "base/variables" as v;
@use "base/mixins" as m;

.tabs {

    @include m.tablet {
        display: flex;
    }

    button {
        background-color: v.$azul;
        border: none;
        color: v.$blanco;
        padding: 1rem;
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        cursor: pointer;
        transition: all .3s ease-in;

        &:hover {
            background-color: darken(v.$azul, 20%);
        }

        &.actual {
            background-color: v.$blanco;
            color: v.$azul;
        }

    }
}

